# plugin zip
rt_geosisma_offline.zip

# sqlites db
*.sqlite

# cache
offlinedata/layers/*png
offlinedata/layers/*wld
offlinedata/layers/*vrt
offlinedata/layers/*ovr
offlinedata/layers/*

# py compilation
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
